.navbar {
  width: 100%;
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 4rem;
  background-color: var(--primary-color);
  color: var(--dark-30);
}

.navbar_items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.navbar_items {
  color: var(--dark-30);
  font-weight: 600;
  font-size: 16px;
}
